@import '../../variables.scss';

.indicators {
  padding-top: 30px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.indicators__name {
  text-align: left;
  color: $yellow;
  text-transform: none;
  font-size: 50px;
  line-height: 55px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.indicators__display {
  text-transform: none;
  color: $yellow;
  font-size: 40px;
  line-height: 45px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    font-size: 27px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.indicators__description {
  color: $white;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.indicators__measure {
  font-weight: 300;
}

