@import '../../variables.scss';

.block {
  padding-bottom: 70px;

  @media (max-width: $game-width) {
    display: none;
  }
}

.content__display {
  text-transform: none;
  color: $yellow;
  font-size: 40px;
  line-height: 45px;
  display: none;

  @media (max-width: $game-width) {
    display: block;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 250px;
    padding-right: 250px;
  }

  @media (max-width: $desktop-width) {
    padding-left: 150px;
    padding-right: 150px;
    font-size: 27px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.title {
  text-align: left;
  color: $yellow;
  text-transform: none;
  font-size: 40px;
  line-height: 55px;
  padding-top: 70px;
  padding-bottom: 15px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.description {
  color: $white;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.info {
  color: $white;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;

  b {
    color: $yellow
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}