@import '../../variables.scss';

.footer {
  background-color: $back;
  width: 100%;
  min-height: 100px;
  color: $white;
}

.authors {
  padding-top: 32px;
  padding-bottom: 33px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.authors__name {
  color: #B1F879;
}