@import "../../variables.scss";

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  min-height: 550px;
  text-align: center;
  flex-grow: 1;
}
  
.tech__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 33px;
 
  text-transform: none;
  color: $white;
  text-align: center;

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}

.tech__button {
  display: inline-block;
  color: $brown;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 70px;
  background-color: $green;
  border: none;
  position: relative;

  &:hover {
    color: rgba(52, 53, 51, 0.8);
  }

}
